<div class="signupPage">
  <%= image_tag("rmi-logo.png", height: '64', width: '64')%>
  <h1>Rocky Mountain Institute</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="signup-inputs">
      <div class="field">
        <%= f.label :first_name, class: "input-label"  %>
        <%= f.text_field :first_name, class: "signup-input-box", autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :last_name, class: "input-label"  %>
        <%= f.text_field :last_name, class: "signup-input-box" %>
      </div>

      <div class="field">
        <%= f.label :phone, class: "input-label"  %>
        <%= f.phone_field :phone, class: "signup-input-box" %>
      </div>

      <div class="field">
        <%= f.label :email, class: "input-label"  %>
        <%= f.email_field :email, class: "signup-input-box" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "input-label"  %>
        <% if @minimum_password_length %>
        <em class="pwd-reqs">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, class: "signup-input-box", autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "input-label"  %>
        <%= f.password_field :password_confirmation, class: "signup-input-box", autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn--primary signup-btn"%>
      </div>
    </div>
  <% end %>
</div>
