<!--Sign up page-->
<div class="loginPageContainer">
  <%= image_tag("rmi-logo.png", height: '64', width: '64')%>
  <h1 class="loginHeader">Rocky Mountain Institute</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="input-container">
      <div class="field">
        <%= f.label :first_name, class: "input-label"  %><br />
        <%= f.text_field :first_name, class: "input-box", placeholder: "Ricky", autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :last_name, class: "input-label"  %><br />
        <%= f.text_field :last_name, placeholder: "Montana", class: "input-box" %>
      </div>

      <div class="field">
        <%= f.label :phone, class: "input-label"  %><br />
        <%= f.phone_field :phone, placeholder: "1234567890", class: "input-box" %>
      </div>

      <div class="field">
        <%= f.label :email, class: "input-label"  %><br />
        <%= f.email_field :email, placeholder: "email@rmi.org", class: "input-box" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "input-label"  %>
        <% if @minimum_password_length %>
        <em class="pwd-reqs">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, class: "input-box", autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "input-label"  %><br />
        <%= f.password_field :password_confirmation, class: "input-box", autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn--primary primary-long-login-btn"%>
      </div>
    </div>
  <% end %>
</div>
