<!--<h1>RMI User</h1>

<p>
  <i> <%= @rmi_user.first_name %> </i>

  <%= tag(:br) %>
</p>

<h2>Portfolios</h2>
<% @portfolios.each do |portfolio| %>
    <p>
      <strong>Name:</strong>
      <%= portfolio.name %>
    </p>
    <%= tag(:br) %>
<% end %>

<h3> Error Message</h3>
<p>
  <i>NOTE: <%= @message %></i>
</p> -->

<%= javascript_pack_tag 'RootContainer.js' %>
<%= stylesheet_pack_tag 'RootContainer.css' %>