<p>
  Dear <%= @user.first_name %>,
</p>
<p>
  You have been assigned new questions by <%= @current_user.first_name %> <%= @current_user.last_name %> to fill out regarding your buildings. You can respond to them at <%= @current_user.email %>.
</p>
<p>
  <%= link_to('Please click here to begin', @url) %>
</p>

