Welcome to RMI, <%= @user.first_name %>!
===============================================

<p><%= @current_user.first_name %></p>
<p><%= @current_user.last_name %></p>
<p><%= @current_user.email %></p>

An asset manager would like you to fill out some information regarding your buildings. An account has been created
for you on the RMI dashboard, where you can complete and submit questionnaires assigned to you.

Please click the link below to begin:
<%= @url %>
