<h2>Welcome to RMI, <%= @user.first_name %>!</h2>
<p><%= @emailed_by.first_name %></p>
<p><%= @emailed_by.last_name %></p>
<p><%= @emailed_by.email %></p>
<p>
  An asset manager would like you to fill out some information regarding your buildings. An account has been created
  for you on the RMI dashboard, where you can complete and submit questionnaires assigned to you.
</p>
<p>
  <%= link_to('Please click here to begin', @url) %>
</p>
