<h1>Asset Manager</h1>
<p>
  <strong>Name: </strong><%= @asset_manager.first_name %> <%= @asset_manager.last_name %>
</p>
<p>
  <strong>Email: </strong><%= @asset_manager.email %>
</p>
<p>
  <strong>Phone: </strong><%= @asset_manager.phone %>
</p>
<p>
  <!--This page only shows up if there was a problem with redirecting to a portfolio, so display a message explaining why -->
  <i>NOTE: <%= @message %></i>
</p>