<!DOCTYPE html>
<html>
  <head>
    <title>Rmi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all'  %>

    <script>
      window.INITIAL_STATE = <%= raw @state.to_json %>
    </script>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= javascript_include_tag('application.js') %>
    <%= custom_bootstrap_flash %>
  </body>
</html>
