<!DOCTYPE html>
<html>
  <head>
    <title>Rmi</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag('application.js') %>
    <% if controller_name != "application" %>
      <%= stylesheet_link_tag    'application', media: 'all'  %>
    <% end %>
    <script>
      window.INITIAL_STATE = <%= raw @state.to_json %>
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
